<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>It is not Okay!</title>
</head>
<body class="site" id="app">
    <h1 class="hidden">It is not okay! Anti-Bullying Campaign</h1>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <header class="head">
        <h2 class="hidden">Main Header</h2>

        <nav class="nav" aria-label="Main Nav">
            <h3 class="hidden">Main Navigation</h3>

            <div class="logo">   
             <object data="images/protype/logoRemade.svg" type="image/svg+xml"></object>
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="hamburger-btn">
                <div class="ham">
                    <span class="barr"></span>
                    <span class="barr"></span>
                    <span class="barr"></span>
                </div>
            </label>

            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#Info">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="#Problem">PROBLEM</a>
                </li>
                <li class="nav-item">
                    <a href="#Help">HELP</a>
                </li>
                <li class="nav-item">
                    <a href="#Contact">CONTACT</a>
                </li>
            </ul>


            
           <!--  <div class="ham">
                <span class="barr"></span>
                <span class="barr"></span>
                <span class="barr"></span>
            </div>  -->
        </nav>
      


       <!-- <div class="logo">
            <div class="back"></div>
            <object data="images/protype/logoRemade.svg" type="image/svg+xml"></object>
            <img class="hText" src="images/protype/Bullying in Soccer.svg">
        </div>
        --->
       
       
         
    </header>
    <main id="content" class="main">
        <h2 class="hidden">Main Site Content</h2>

       <!-- <picture>
            <source media="(min-width:800px)" srcset="images/protype/2200x840.png">
            <source media="(min-width:465px)" srcset="images/protype/480x480.png">
            <img src="images/480x480.png" alt="FPO">
        </picture>
    -->

        <section class="hero">
            <h3 class="hidden">Hero section</h3>
            <div class="HeroContainer">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext hidden">1 / 3</div>
                    <picture>
                        <source media="(min-width:800px)" srcset="images/responsive_content/hero2200x840.jpg">
                        <source media="(min-width:465px)" srcset="images/responsive_content/hero480x480.jpg">
                        <img src="images/responsive_content/hero480x480.jpg" alt="FPO" style="width:100%">
                    </picture>
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext hidden">2 / 3</div>
                    <picture>
                        <source media="(min-width:800px)" srcset="images/protype/tweet3.jpg">
                        <source media="(min-width:465px)" srcset="images/responsive_content/hero480x480-2.jpg">
                        <img src="images/responsive_content/hero480x480-2.jpg" alt="FPO" style="width:100%">
                    </picture>
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext hidden">3 / 3</div>
                    <picture>
                        <source media="(min-width:800px)" srcset="images/responsive_content/desktop_the.jpg">
                        <source media="(min-width:465px)" srcset="images/responsive_content/mobile_the.jpg">
                        <img src="images/responsive_content/mobile_the.jpg" alt="FPO" style="width:100%">
                    </picture>
                </div>
                
                 
            </div>
            
            <br>
            
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>


             
        </section>


        <section id="mainStartIcon">
            <h3 class="hidden">Events</h3>
            <object class="Eball" data="/images/protype/soccer.svg" type="image/svg+xml" alt="Soccer Svg"></object>
        </section>

        <section id="Info" >
            <h3 class="hidden">Bullying Introduction</h3>
            <div class="infoImg">
                <picture>
                    <source media="(min-width:800px)" srcset="images/responsive_content/desktop_what.jpg">
                    <source media="(min-width:465px)" srcset="images/responsive_content/mobile_what.jpg">
                    <img src="images/responsive_content/mobile_what.jpg" alt="FPO">
                </picture>
            </div>
            <div class="infoText">
                <h5>What is bullying in soccer?</h5>
                <p>Based on Bullying Canada, 47% of Canadian parents have a child who was being bullied. Especially,  when there is a battle between two teams against each other, the vibe could be intense in soccer. Bullying even happens within a team, and also might be received from different parties, such as coaches, players’ parents, families and friends, and audiences, etc.</p>
                <br>
                <p>There are three forms of bullying:</p>
                <br><br>
                <p class="infoBold">Verbal bullying</p>
                <p>Nasty/ cruel nicknames calling, taunting, rudeness, threats of violence and harm to a teammate.</p>
                <br><br>
                <p class="infoBold">Physical bullying</p>
                <p>Any form of physical violence toward the victims.</p>
                <br><br>
                <p class="infoBold">Relational bullying </p>
                <p>Social isolating/ excluding the victims, gossiping, hurtful talk and embarrassment of the victims in front of others.</p> 
            </div> 
        </section>

        <section id="Problem">
            <div class="pText">
                <h5 class="happyHelp">The Problem</h5>
                <p>Bullying in soccer is a problem at all levels, from youth to professional. It often happens in the culture of the sport when one team is against another team. The culture of soccer puts players into a situation where they have no choice but to be aggressive. It is also the physical nature of the game when players are running and tackling each other, there are opportunities for anyone to get hurt or insulted by other players.</p>
                <br> 
                <p>There are various situations that victims get hurt physically or even mentally. The bullying experience does cause trauma which stays in their sports experience when the victims especially at a young age, do not feel supported and appreciated. That leads to more mental health issues while the problem does not being solved.</p>
            </div>
            <div class="pVideo">
                <video src="video/fina-final.mp4" controls></video>
            </div>
             

        </section>

        <section id="Empathy">
            <h3 class="hidden">Empathy</h3>
            <div class="infoText">
                <h5>Empathy</h5>
                <p>It is a great idea to understand others by putting ourselves in their shoes. When unfortunate events happen, how would you like others to treat you if you were the victim? Would you want everyone picks on you, and be aggressive toward you? What if the victim is your loved one, your family member, your brother, sister, or best friend? The list goes on, you will not want to see anyone hurts your loved one, it is painful.</p>
                <br> 
            </div> 
            <div class="infoImg">
                <picture>
                    <source media="(min-width:800px)" srcset="images/responsive_content/desktop_empathy.jpg">
                    <source media="(min-width:465px)" srcset="images/responsive_content/mobile_empathy.jpg">
                    <img src="images/responsive_content/mobile_empathy.jpg" alt="FPO">
                </picture>
                 
            </div>
        </section>

        <br><br>
        <br><br>

        <section id="Help">
            <h3 class="hidden">Helping or Getting Help</h3>
            <div class="Hlogo">
                <div class="back"></div>
                <object data="images/protype/logoRemade.svg" type="image/svg+xml"></object>
            </div>


            <h5>How can you help? or stop the bullying?</h5>
            <div class="Htext">
                <p>Get help from professionals or talk to the people you trust for reaching out about the issue.Find resources that might be helpful for you.</p>
                <br>
                <p class="infoBold">Stop Bullying </p>
                <p>Do not be someone’s darkness, be supportive, and respectful. Everyone deserves a chance to play soccer, regardless of their abilities. We do not want any aggressive or harmful behaviour in our games!</p> 
            </div>
              
           
            <div class="Himg">
                <img src="/images/responsive_content/event01.jpg" alt="Getting Help Image Examples">
                <img src="/images/responsive_content/event02.jpg" alt="Getting Help Image Examples">
            </div>
        </section>


        <section id="Events">
            <h3 class="hidden">Events</h3>
            <div class="EventIcon">
                <h3 class="hidden">Events</h3>
                <object data="/images/protype/soccer.svg" type="image/svg+xml" alt="Soccer Svg"></object>
            </div>
            
            <p class="Ehead">Events</p>
            <div class="upperGrid">
                <div class="Elogo">
                    <div class="back"></div>
                    <object data="images/protype/logoRemade.svg" type="image/svg+xml"></object>
                </div>
                <div class="Etext">
                    <h5>"HEAR THE WORDS"</h5>
                    <p>Feel how the victims feel through headphones as is is in your situation.</p>
                    <br>
                    <p>You don't want this happen to you or your loved one.</p>
                    <p>
                        Visit our event and know more! We will have more popup boots in the community games. 
                    </p>
                    <p><span class="infoBold">FREE</span> armband stickers and wrist bands are provided.</p>
                </div>

            </div>
            <div class="lowerFGrid">
                <img src="/images/responsive_content/event.jpg" alt="Event Photo">
                <div class="eventGift">
                     
                    <img src="/images/responsive_content/wristBands.png" alt="Gift Photo">
                </div>    
                <img src="/images/responsive_content/armband.png" alt="Gift Photo">  
            </div> 
        </section>

 
        <section id="Subscription">
            <div>
                <h4>Subscription</h4>
                <br>

                <p style="padding: 1em;">Stay in the loop with our latest campaign updates! Join our community and be the first to know about our progress as we work towards our campaign goals. Sign up today and never miss out on important campaign updates!</p>
                 
            
                <div class="wrapper">
                    <a class="btn" href="#open-form">Subscribe to our mailing list now!</a>
                </div>

            </div>
             

            <div id="open-form" class="lightbox-window">
                <a href="#Subscription" title="Close" class="lb-close">ClOSE</a>
                <form @submit.prevent="createMember" >
                    <div class="row">
                        <div class="col"> 
                            <label for="name">First Name</label>
                            <input placeholder="Enter your first name" ref="fname" type="text" v-model="newMember.fname">
                            <p class="error-first-name"></p>
                        </div>
                        <div class="col"> 
                            <label for="name">Last Name</label>
                            <input placeholder="Enter your last name" ref="lname" type="text" v-model="newMember.lname">
                            <p class="error-first-name"></p>
                        </div>
                        <div class="col">
                            <label for="email">Email</label>
                            <input placeholder="Enter your email" type="email" v-model="newMember.email">
                            <p class="error-email"></p>
                        </div>
                    </div>
                    
                    <div class="wrapper">
                        <button>SUBSCRIBE</button>
                    </div>  

                    <div class="message-alert" v-if="message">{{ message }}</div>
                                              
                </form>

            </div>
             
        </section>
    </main>

    <footer id="Footer">
        <h2 class="hidden"> Main Footer </h2>
        <div id="Contact" class="contact"></div>
        <br><br>
        <h4 class="happyHelp">We are here to help!</h4>
        <p class="topCtext happyHelp " >Feel free to share your story with us by using this contact form!</p>
        <br><br>
        <div class="contactAd">
            <div class="links">
                 
                <p>Address: 620a Richmond St, London, ON N6A 5J9.
                <br><br>
                Phone: 1-123-456-7890
                </p>
                <div class="socialIcons">
                    <img src="/images/protype/iconYoutube.svg" alt="YoutTube Icon">
                    <img src="/images/protype/iconFB.svg" alt="Facebook Icon">
                    <img src="/images/protype/iconTwitter.svg" alt="Twitter Icon">
                    <img src="/images/protype/iconTikTok.svg" alt="TitTok Icon">
                </div> 
                <p>Check Out our app at these link! </p>
                <br>
                <div class="AppLink">
                    <a><img src="/images/protype/google.png" alt="Google play link"></a>
                    <a><img src="/images/protype/apple.png" alt="Apple play link"></a>
                     
                </div>
            </div>
            
             
            <div class="form">
                <form action="includes/send.php" method="POST" id="mail-form">
                    <div class="col">
                        <label for="firstname">Name</label>
                        <input ref="firstname" type="text" id="firstname" name="firstname" required="required"/>
                        <p class="error-first-name"></p>
                    </div>
                    <div class="col">
                        <label for="email">Email</label>
                        <input ref="email" type="email" id="email" name="email" required/>
                        <p class="error-email"></p>
                    </div>
                    <div class="col">
                        <label for="phone">Phone </label>
                        <input ref="phone" type="tel" value="tel" name="phone">
                    </div>
                    <div class="col">
                        <label for="message">Message</label>
                        <textarea ref="message" name="message" id="message" cols="30" rows="10"></textarea>
                        <p class="error-message"></p>
                    </div>
                           
                    <div class="wrapper">
                      <input @click.prevent="processMail" type="submit" class="submit" value="SEND">
                    
                    </div>                              
                </form>
            </div>
        </div>
        
        <a class="topBtn" href="#">
            <div class="img">
                <object data="images/protype/topBtn.svg" type="image/svg+xml"></object>
                
            </div>
            <p>TOP</p>
        </a> 
       
       <br>
       <h3 class="hidden">CopyRight Panel</h3>
       <div class="copyRight">
         <p>@IT IS NOT OK</p> 
       </div>
      
    </footer>
 

       
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
       
    <script src="./js/main.js" defer type="module"></script>

    <script src="./js/mail.js" defer type="module"></script>

    <script src="/js/components/HeroSlidshow.js" defer ></script>
</body>
</html>