/*
Style Name: main.scss 
Description: Web Development (Front-End)
Author: Immama Ayoub
Version: 1.2
Tags: Bullying In Sports!
*/

@import './modules/_reset.scss';
@import"./modules/_vars.scss";
@import"./modules/_accesability.scss";
@import './modules/_default.scss';

@import './modules/_introAndempathy.scss'; 
@import './modules/_problem.scss';
@import './modules/_help.scss';
@import './modules/_events.scss';
@import './modules/_contact.scss';


 