//....Global Variables.....

//Fonts
 
$mainFont: Arial, Helvetica, sans-serif;
$mainSize: 1em;
 

//Colours
$YellowMain: #FDDF00; //For Main Background
$RedSecond: #EC2024;
$WhiteThird: #FFFFFF;
$BlackForth: #000000;

//Mobile


//Tablet

//Desktop

$navSize: 1.5em;

$font: Arial, Helvetica, sans-serif;